.discoverWeekly{
    width: 77%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    gap: 32px;
    padding-bottom: 100px;
}

.discoverTitle{
    width: 100%;
    font: 700 48px "DM Sans";
    color: #23262F;
    text-align: center;
}

.discoverDescription{
    width: 100%;
    height: auto;
    color: var(--Neutrals-4, #777E90);
    font: 400 20px 'Poppins';
    text-align: center;
}

