/* Sign.module.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
  width: 100%;
}

.containerFluid {
  min-height: 100vh !important;
  overflow: hidden !important;
}

.content {
  max-width: 420px;
  margin: 0 auto;
}

.logoImg {
  width: 64px;
  height: 64px;
}

input {
  width: 100%;
  border: 1px solid #eee;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.mainBtn {
  background: #3fafc6;
  border: none;
  border-radius: 200px;
  padding: 12px 40px;
  color: white;
  font-weight: 500;
  width: 100%;
  max-width: 300px;
  margin: auto;
}

.icon {
  width: 20px;
  height: 20px;
}

.buttons button {
  border-radius: 50px;
  width: 100%;
  max-width: 200px;
  padding: 12px 20px;
  background-color: white;
  border: 2px solid #eee;
  gap: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.eyeSlash {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

@media (max-width: 768px) {
  .buttons {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .mainBtn {
    width: 100%;
  }

  .content {
    padding: 20px;
  }
}
