p {
  margin-bottom: 0 !important;
}

section.main-section-review {
  width: 100%;
  margin: 0 auto;
  padding: 100px 160px;
  background: var(--Neutrals-7, #f4f5f6);
}

@media screen and (max-width: 480px) {
  section.main-section-review {
    display: flex;
    width: 100%;
    padding: 80px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: var(--Neutrals-7, #f4f5f6);
    margin: 0 auto;
    box-sizing: border-box;
  }
}
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

@media screen and (max-width: 480px) {
  .main-container {
    display: flex;
    width: 375px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    background: var(--Neutrals-7, #f4f5f6);
  }
}
.review-section-1 {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .review-section-1 {
    display: flex;
    width: 375px;
    padding: 80px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
}

.client-pagingation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 24px;
}

@media screen and (max-width: 480px) {
  .client-pagingation {
    display: none;
  }
}
.list-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5vw;
}

.main-text-reviews {
  display: flex;
  width: 369px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
}
@media screen and (max-width: 480px) {
  .main-text-reviews {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
  }
}

.card-review {
  width: 544px;
  display: flex;
  padding: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid var(--Neutrals-7, #f4f5f6);
  background: var(--Neutrals-8, #fcfcfd);
  box-shadow: 40px 40px 100px -48px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 480px) {
  .card-review {
    display: flex;
    width: 327px;
    padding: 40px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
}

.testimonial-head {
  color: var(--Neutrals-4, #777e90);

  /* Hairline 2 */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}

@media screen and (max-width: 480px) {
  .testimonial-head {
    width: 327px;
  }
}

.ourhappyclient {
  width: 382px;
  color: var(--Neutrals-2, #23262f);

  /* Headline 2 */
  font-family: "DM Sans";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 56px; /* 116.667% */
  letter-spacing: -0.96px;
}

@media screen and (max-width: 480px) {
  .ourhappyclient {
    width: 327px;
  }
}

.btn--contact--us {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #e6e8ec);
  color: var(--Neutrals-2, #23262f);
  text-align: center;

  /* Button 1 */
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 100% */
}

.current-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
}

@media screen and (max-width: 480px) {
  .current-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
  }
}

.current-review-head {
  display: flex;
  width: 198px;
  align-items: center;
  gap: 16px;
}

@media screen and (max-width: 480px) {
  .current-review-head {
    display: flex;
    width: 198px;
    align-items: center;
    gap: 16px;
  }
}

.avatar {
  display: flex;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 48px;
  background: var(--Secondary-01, #ffbc99);
}

.section-name-job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.review-profile-name {
  color: var(--Neutrals-1, #141416);

  /* Body 3 (Bold) */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
}

.review-profile-job {
  color: var(--Neutrals-4, #777e90);

  /* Caption */
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */
}

.review-content-text {
  width: 416px;
  color: var(--Neutrals-4, #777e90);

  /* Body 3 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

@media screen and (max-width: 480px) {
  .review-content-text {
    width: 295px;
    align-self: stretch;
  }
}

.other-reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.another-review {
  display: flex;
  width: 256px;
  align-items: center;
  gap: 26px;
}
.another-review img {
  object-fit: cover;
  width: 60px;
  height: 60px;
}

.btn-container {
  width: 327px;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  display: none;
}

@media screen and (max-width: 480px) {
  .btn-container {
    display: flex;
  }
}

.btn-prev-review,
.btn-next-review {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 40px;
  border: 0;
}

.btn-review-cliked {
  border: 1px solid #ddd;
}
