p {
  margin: 0;
}

section.main-section-review {
  display: flex;
  width: 1440px;
  margin: 0 auto;
  padding: 100px 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
  background-color: #ccc;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.review-section-1 {
  display: flex;
  width: 1120px;
  justify-content: space-between;
  align-items: center;
  
}

.client-pagingation {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 24px;
}

.list-reviews {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}



.main-text-reviews {
  display: flex;
  width: 369px;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  flex-shrink: 0;
  background: green;
}

.card-review {
  width: 544px;
  display: flex;
  padding: 64px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 16px;
  border: 1px solid var(--Neutrals-7, #F4F5F6);
  background: var(--Neutrals-8, #FCFCFD);
  box-shadow: 40px 40px 100px -48px rgba(0, 0, 0, 0.10);
}

.testimonial-head {
  color: var(--Neutrals-4, #777E90);

  /* Hairline 2 */
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 12px; /* 100% */
  text-transform: uppercase;
}

.ourhappyclient {
  width: 382px;
  color: var(--Neutrals-2, #23262F);

/* Headline 2 */
font-family: "DM Sans";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 56px; /* 116.667% */
letter-spacing: -0.96px;
}

.btn--contact--us {
  display: flex;
  padding: 16px 24px;
  justify-content: center;
  align-items: center;
  gap: 12px;
  border-radius: 90px;
  border: 2px solid var(--Neutrals-6, #E6E8EC);
}

.current-review {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 10px;
}

.current-review-head {
display: flex;
width: 198px;
align-items: center;
gap: 16px;
}

.avatar {
  display: flex;
width: 48px;
height: 48px;
justify-content: center;
align-items: center;
flex-shrink: 0;
border-radius: 48px;
background: var(--Secondary-01, #FFBC99);
}

.section-name-job {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4px;
}

.review-profile-name {
  color: var(--Neutrals-1, #141416);

/* Body 3 (Bold) */
font-family: Poppins;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 150% */
}

.review-profile-job {
  color: var(--Neutrals-4, #777E90);

/* Caption */
font-family: Poppins;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 171.429% */
}

.review-content-text {
  width: 416;
  color: var(--Neutrals-4, #777E90);

  /* Body 3 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}

.other-reviews {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.another-review {
  display: flex;
  width: 256px;
  align-items: center;
  gap: 16px;
}
