.navigator {
  width: 100%;
  max-width: 300px;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.navigator:hover {
  color: #2980b9;
}

.blue {
  background-color: #ffffff;
}
.yellow {
  background-color: #ffffff;
}
.pink {
  background-color: #ffffff;
}

.icon-container {
  font-size: 2.5em;
  margin-bottom: 10px;
  display: inline-block;
  padding: 10px;
  border-radius: 8px;
}

.blue .icon-container {
  background-color: #87ceeb;
}
.yellow .icon-container {
  background-color: #e6e600;
}
.pink .icon-container {
  background-color: #ff69b4;
}

.navigator h3 {
  font-size: 1em;
  margin: 10px 0;
  color: #060606;
}
.navigator p {
  font-size: 0.9em;
  color: #555;
}

@media (min-width: 700px) {
  .navigator {
    width: 48%;
    max-width: none;
  }
}

@media (min-width: 1024px) {
  .navigator {
    width: 25%;
    max-width: none;
  }
}
