.footer {
  background-color: #fff;
  padding: 4rem 1rem 2rem;
  border-top: 1px solid #eee;
  font-family: "DM Sans", sans-serif;
}

.footerContent {
  display: flex;
  gap: 2rem;
  text-align: left;
  justify-items: center;
  margin: 0 160px;
}

.footerCol {
  flex: 1;
  min-width: 180px;
}

.logoCol p {
  max-width: 250px;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  gap: 0.5rem;
  line-height: 1;
  padding: 1rem 0;
  height: 0;
}

.logo img {
  width: 32px;
  height: 32px;
  object-fit: contain;
  display: block;
}

.logo span {
  transform: translateY(-2px);
}

.footerCol h5 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.footerCol ul {
  list-style: none;
  padding: 0;
}

.footerCol ul li {
  margin-bottom: 0.5rem;
  color: #555;
  cursor: pointer;
}

.subscribeCol input {
  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 20px 0 0 20px;
  outline: none;
  flex: 1;
}

.subscribeForm {
  display: flex;
  margin-top: 0.5rem;
  max-width: 300px;
}

.subscribeForm button {
  background-color: #3fafc6;
  border: none;
  color: white;
  padding: 0 1rem;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
  height: 42px;
  font-size: 1.2rem;
}

.footerBottom {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  font-weight: bold;
  font-size: 0.9rem;
  color: #0b0b0b;
}

.emoji {
  font-size: 1.1rem;
}


@media (max-width: 1024px) {
  .footerContent {
    flex-wrap: wrap;
    gap: 2rem;
    padding: 0 4rem;
  }

  .footerCol {
    flex: 1 1 45%;
    margin-bottom: 2rem;
  }

  .subscribeForm {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 1.5rem;
  }

  .footerCol {
    width: 100%;
    flex: unset;
    margin-bottom: 2.5rem;
  }

  .logo {
    justify-content: center;
  }

  .logoCol p {
    margin: 0 auto;
    max-width: 100%;
  }

  .subscribeForm {
    flex-direction: column;
    width: 100%;
    max-width: 100%;
  }

  .subscribeForm input,
  .subscribeForm button {
    width: 100%;
    border-radius: 20px;
    box-sizing: border-box;
  }

  .subscribeForm button {
    margin-top: 0.5rem;
  }
}
